body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container 
{
    flex-grow: 1;
    width: 350px;
    margin: 50px auto;
    border-radius: 8px;
}

.form-container--form {
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 1rem;
}

.btn-custom 
{
    width: auto;
    padding: 8px 16px;
}

.card-container 
{
    flex-grow: 1;
}

.card 
{
    margin-bottom: 15px;
}

.btn-clear-container 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer
{
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
